#newGalleryWrapper {
    display: flex; 
    justify-content:center;
    align-items:flex-start;
    height:100vh;
    background:#040404;
}

#newGalleryClose {
    text-align:right;
    background:#040404;
    display:flex;
    justify-content: flex-end;
}

#newGalleryClose img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#newGalleryClose a {
    text-decoration: none;
}

#newGalleryClose button {
    border-radius:8px;
    background:#003300;
    border:none;
    color:#ffffff;
    font-size:1rem;
    text-transform: uppercase;
    margin-right: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top:10px;
    margin-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    display: flex;
    align-items: center;
}

#newGalleryPhotoTitle {
    color: white;
    background:#003300de;
    text-align:center;
}

#newGalleryPhotoTitle h1 {
    font-family:sans-serif;
    font-size: 1.1rem;
    text-transform:capitalize;
    margin: 0 0 0 0;
    padding: 5px 0 5px 0;
}

#newGalleryContainer {
    padding-top:0rem;
}

.newHeroGalleryPhoto {
    width:100vw; 
    height:120vw;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newHeroGalleryPhoto img {
    padding-left: 2%;
    padding-bottom: 2%;
    width: 40px;
    height: 40px;
    }

#newGalleryButtonContainer {
    display:flex;
}

.newGalleryBackAndNextControls {
    font-size:1.2rem;
    text-transform: uppercase;
    background:#003300;
    width:50%;
    padding: 5px 0 5px 0;
}

.newGalleryBackAndNextControlsDetail {
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    text-transform: uppercase;
}

.newGalleryBackAndNextControlsDetail img {
    width:15px;
    height:15px
}

#newGalleryBackAndNextBackText {
    font-family:sans-serif;
    margin-left:10px;
    color:#ffffff;
}

#newGalleryBackAndNextForwardText {
    font-family:sans-serif;
    margin-right:10px;
    color:#ffffff;
}

#newGalleryLinkContainer {
    text-align: center;
    background:#040404;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linkPromo {
    font-family:sans-serif;
    text-align:center;
    width: 75vw;
    color: white;
    margin-bottom:0px;
}

#newGalleryLinkContainer button {
    width: 75vw;
    border-radius:8px;
    text-transform: uppercase;
    background:#ad0ead;
    border:none;
    color:#ffffff;
    font-size:1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top:10px;
    padding-left:10px;
    padding-right:10px;
}