body {
    font-size: 18px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

a {
    color: #009900;
    text-decoration: none;
  }

.fa-test {
    font-size: 10px;
}

#non-mobile {
    text-align: left;    
}

#non-mobile .fas {
    padding-right: 0.5em;    
}

#non-mobile a {
    color: #ffffff;
    text-decoration: none;
}

#non-mobile #row {
    border-bottom: solid 2px #ffffff;
    padding-top: 2%;
    padding-left: 20%; 
}

#non-mobile #book-indent #row {
    border-bottom: solid 2px #ffffff;
    padding-top: 2%;
    padding-left: 28%; 
}

#nav-elements {
    padding: 1% 0 3% 0; 
}

#footer {
    background: #333333;
    width: 100vw;
}

#breadcrumb-container {
    background: #333333;
    color: white;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
}

#breadcrumb {
    padding-left: 3%;
    width: 100%;
}

#breadcrumb a {
    color: white;
    text-decoration: none;
}

#breadcrumb-container .fas {
    padding-left: 0.8rem;
    padding-right: 0.8rem;  
    font-size: 0.8rem;
}

.green-button {
    background: #009900;
    border: 0;
    border-radius: 0.5rem;
    color: #ffffff;
    display: block;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem;
    margin-left:2%;
    margin-right: 2%;
    text-align: center;
    text-decoration: none;
  }

