<div style="width:100vw;display:flex;justify-content:space-between;align-items:center">
    <div id="logo">
        <a href="/"><img style="width:300px;height:35px;padding-top:7px;" src="{{ settings.moblogo }}" alt="allotment-book-logo"/></a>
    </div>
    <div style="" id="menu-button" class="pointer">
        <a href"/"><img style="text-align:center;width:20px;height:16px;padding-top:8px" src="https://res.cloudinary.com/allotment-book/image/upload/v1644487486/navigation/hamburger-icon_kpgidy.webp"/>
        <div style="text-align:center;font-size:0.7em;color:#ffffff">Contents</div></a>
    </div>
</div>

<nav id="myNav" class="overlay">
    <div style="text-align:right" class="closebtn"> <i id="close" class="fas fa-window-close"></i></div>
    <div id="nav-grid"
            <div id="first-row">
            <div id="col-left"><a href="/"><i class="fas fa-home"></i> Home</div></a>
            <div id="col-right"></div>
            <div id="second-row">
                <div id="col-left"><a href="{{ settings.shop }}"><i class="fas fa-shopping-bag"></i> Shop</div></a>
                <div id="col-right"><a href="{{ settings.tools }}"><i class="far fa-calendar-alt"></i> Planning Tools</div></a>
            </div>
            <div id="third-row-a">
            <div><a href="{{ settings.book }}"><i class="fas fa-book-open"></i> Book Contents</div></a>
            </div>
            <div id="third-row-b">
                <a style="margin-top:-3%" href="{{ settings.introduction }}"><i class="fas fa-chevron-circle-right"></i></i> Introduction</a>
                <a style="margin-top:-3%" href="{{ settings.starter }}"><i class="fas fa-chevron-circle-right"></i></i> Allotment Starter Guides</a>
                <a style="margin-top:-3%" href="{{ settings.vegetables }}"><i class="fas fa-chevron-circle-right"></i></i> Vegetable Growing Guides</a>
                <a style="margin-top:-3%" href="{{ settings.fruit }}"><i class="fas fa-chevron-circle-right"></i></i> Fruit Growing Guides</a>
                <a style="margin-top:-3%" href="{{ settings.herbs }}"><i class="fas fa-chevron-circle-right"></i></i> Herb Growing Guides</a>
                <a style="margin-top:-3%" href="{{ settings.recipes }}"><i class="fas fa-chevron-circle-right"></i></i> Allotment Recipes</a>
            </div>
            <div id="fourth-row">
                <div id="col-left"><a href="{{ settings.photos }}"><i class="fas fa-camera"></i> Gallery</div></a>
                <div id="col-right"><a href="{{ settings.videos }}"><i class="fas fa-video"></i> Videos</div></a>
            </div>
            <div id="fifth-row">
                <div id="col-left"><a href="{{ settings.blog }}"><i class="fas fa-pen"></i> Blog</div></a>
                <div id="col-right"><a href="{{ settings.policies }}"><i class="fas fa-copy"></i> Policies</div></a>
            </div>
            <div id="sixth-row">
                
            </div>

    </div>
</nav>