<nav id="non-mobile">
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-home"></i> Home</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.shop }}"><i class="fas fa-shopping-bag"></i> Shop</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/subscriptions"><i class="fas fa-power-off"></i> Account</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.book }}"><i class="fas fa-book-open"></i> Book Contents</div></a></div>
    <div id="book-indent">
    <div id="row"><div id="nav-elements"><a href="{{ settings.introduction }}"><i class="fas fa-chevron-circle-right"></i> Introduction</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.starter }}"><i class="fas fa-chevron-circle-right"></i> Allotment Starter Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.vegetables }}"><i class="fas fa-chevron-circle-right"></i> Vegetable Growing Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.fruit }}"><i class="fas fa-chevron-circle-right"></i> Fruit Growing Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.herbs }}"><i class="fas fa-chevron-circle-right"></i> Herb Growing Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.recipes }}"><i class="fas fa-chevron-circle-right"></i> Allotment Recipes</div></a></div>
    </div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.tools }}"><i class="fas fa-calendar-alt"></i> Planning Tools</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.videos }}"><i class="fas fa-video"></i> Videos</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.photos }}"><i class="fas fa-camera"></i> Photo Gallery</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.blog }}"><i class="fas fa-pen"></i> Blog</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.policies }}"><i class="fas fa-copy"></i> Policies</div></a></div>
</nav>