<nav id="non-mobile">
    <div id="row"><div id="nav-elements"><a href="/">Home</div></a></div>
    <!-- <div id="row"><div id="nav-elements"><a href="{{ settings.myPlants }}">myPlants.app</div></a></div> -->
    <div id="row"><div id="nav-elements"><a href="{{ settings.book }}">Book Contents</div></a></div>
    <div id="book-indent">
    <div id="row"><div id="nav-elements"><a href="{{ settings.introduction }}">Introduction</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.starter }}">Allotment Starter Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.vegetables }}">Vegetable Growing Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.fruit }}">Fruit Growing Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.herbs }}">Herb Growing Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.recipes }}">Allotment Recipes</div></a></div>
    </div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.tools }}">Planning Tools</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.videos }}">Videos</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.photos }}">Photo Gallery</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.blog }}">Blog</div></a></div>
    <div id="row"><div id="nav-elements"><a href="{{ settings.policies }}">Policies</div></a></div>
</nav>