<!DOCTYPE html>
<html lang="en-gb">
<link rel="icon" 
      type="image/png" 
      href="https://res.cloudinary.com/allotment-book/image/upload/v1644488348/navigation/allotment-book-favicon_pfalpi.webp">

{{ content | safe }}

</html>
