<!DOCTYPE html>
<html lang="en-gb">
<link rel="icon" 
      type="image/png" 
      href="https://abdb.allotmentbook.co.uk/wp-content/uploads/2021/11/Allotment-Book-Favicon.png">

{{ content | safe }}

</html>
