---
layout: /layouts/pagetemplate.njk
date: Last Modified
pagination:
    data: varfruitcats.nectarines.cats
    size: 1
    alias: vegtypes
    addAllPagesToCollections: true
permalink: "shop/nectarines/{{ vegtypes.vegtype | slug }}/index.html"
eleventyComputed:
    title: "Nectarine Varieties: {{ vegtypes.vegtype | title }} | Seeds And Plants | Allotment Book"
    description: "See {{ vegtypes.vegtype }} nectarine varieties, and discover the range of nectarines available."
---

        {% set vegetableplural = varfruitcats.nectarines.nameplural %}
        {% set vegetablesingular = varfruitcats.nectarines.namesingular %}
        {% set filtercat = varfruitcats.nectarines.cats %}

        <div id="sidebar">
            
        </div>

        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading">
                        <div id="breadcrumb-container">
                            <div id="breadcrumb">
                                <a href="/shop">Shop</a> <i class="fas fa-chevron-right"></i> 
                                <a href="/shop/fruit">Fruit</a> <i class="fas fa-chevron-right"></i>
                                <a href="/shop/{{ vegetableplural | slug }}/all">{{ vegetableplural | title }}</a> <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
        
            <div id="content-body">
                        <h1 style="margin-bottom:10px">{{ vegetablesingular | title }} Varieties: {{ vegtypes.vegtype | title }}</h1>
                        <div style="margin-top:0px;margin-bottom:20px" id="filters">
                            <div id="filter-title">
                            View:
                            </div>
                            <div id="filter-links">
                            {% for veg in filtercat %}
                                <a href="/shop/{{ vegetableplural | slug }}/{{ veg.vegtype | slug }}"><button style="background:#e0f7d3;color:#009900; border:none">{{ veg.vegtype | upper }}</button></a>
                            {% endfor %}
                            
                            </div>
                        </div>

                    {% for fruit in fruitdata %} {% if ( fruit.fruit == vegetablesingular ) and (vegtypes.vegtype in fruit.cats) %}

                        <div id="prod-container" style="border-style:solid;border-width:1;border-color:#e5e5e5;display:flex;margin-bottom:20px">

                            <div style="padding:0.5em;width:40%" id="image-container">
                            <img style="width:100%" src="{{ fruit.image }}" alt="{{ fruit.name }}" />
                            </div>    

                            <div style="width:60%; padding-left:1em;padding-right:0.5em" id="text-container">
                            <h3 style="margin-top:0.5em;margin-bottom:10px">{{ fruit.name }}</h3>
                            <div style="margin-bottom:20px">{{ fruit.description }} </div>
                            <div style="margin-top:3px"><strong>Type:</strong> {{fruit.type | title }}</div>
                            <div style="margin-top:3px"><strong>Sow:</strong> {{fruit.sow}}</div>
                            <div style="margin-top:3px"><strong>Harvest:</strong> {{fruit.harvest}}</div>
                            <a rel="sponsored" href="{{fruit.deeplink}}"><button style="background:#009900;color:#ffffff; border:none;padding:5px 10px 5px 10px;margin-top:20px;margin-bottom:20px;font-size:1rem"><i class="fas fa-chevron-circle-right"></i> £{{fruit.price}} on {{ fruit.merchant }}</button></a>
                            
                        
                            </div>
                            

                        </div>
            

                        {% endif %}{% endfor %}



                    </div>

                </main>
        
            </div>


