---
permalink: "blog/index.html"
title: Blog Articles | Allotment Book
description: A miscellaneous collection of articles related to growing fruit, vegetables, and herbs at home or on an allotment
date: Last Modified
layout: /layouts/pagetemplate.njk
---
        
        <div id="sidebar">
             
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading">
                        <div id="breadcrumb-container">
                            <div id="breadcrumb">
                            <a href="/">Home</a><i class="fas fa-chevron-right"></i>
                            <a href="/blog">Blog</a><i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>

                    <div id="content-body">

                        <h1 style="margin-bottom:0px">Blog</h1>                       

                        <div id="allvideos" style="">
                        <h4 style="">Latest Articles</h4>
                        <div style="padding-bottom: 2rem" class="all-container"></div>

                                <template id="all-template">

                                <a style="color:#006600" id="divlink" href""><div style="display:flex;justify-content:flex-start;border: solid var(--green-light) 1px; margin-bottom: 1.2rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

                                    <img style="display:block;width:160px; height:80px; padding: 10px" src="" alt="" />
                                    
                                    <div style="padding-left:0.7em; padding-right:0.5em;padding-bottom:0.7em"> 
                                        <h4 style="margin-top:10px;margin-bottom: 10px;font-size:1.2rem;padding-right:0.5em" id="all-link"></h4>
                                        <div style="font-size:0.9em" id="description"></div>
                                    </div>                                   

                                </div></a>
                                
                        </template> 
                        </div>
                        </div>           
                        


                    </div> 
                </main>
            </div>



<script>

//grab all the articles, but using an eleventy filter to only select the data to create an article link
const allBlog = JSON.parse(`{{ generalstoryblok.page | getBlog() | dump | safe }}`);
//a number of arrays to use as filters
let allArticles = [];
let allVideos = [];
let recipeVideos = [];
let growingVideos = [];
let productVideos = [];

//a function to convert the title value to be used as a slug to use in a url
function convertToSlug(text)
{
    return text
        .toLowerCase()
        .replace(/ /g,'-')
        .replace(/[^\w-]+/g,'')
        ;
}

//this takes the article title and converts it to a slug to be used to create the link
function makeLink(title,slug) {
    let urlSlug = slug;
 return (
     `/${urlSlug}`
 )
};

//a function that toggles the visibility of templates, the function is called as onclick events on the category buttons
function changeCategory(catname) {
    if (catname == allArticles) {
    document.getElementById("allvideos").style = "display:visible";
    document.getElementById("growingvideos").style = "display:none"; 
    document.getElementById("tourvideos").style = "display:none";    
    document.getElementById("recipevideos").style = "display:none";
    }
    if (catname == growingVideos) {
    document.getElementById("allvideos").style = "display:none";
    document.getElementById("growingvideos").style = "display:visible"; 
    document.getElementById("tourvideos").style = "display:none";    
    document.getElementById("recipevideos").style = "display:none";
    }
    if (catname == tourVideos) {
    document.getElementById("allvideos").style = "display:none";
    document.getElementById("growingvideos").style = "display:none"; 
    document.getElementById("tourvideos").style = "display:visible";    
    document.getElementById("recipevideos").style = "display:none";
    }
    if (catname == recipeVideos) {
    document.getElementById("allvideos").style = "display:none";
    document.getElementById("growingvideos").style = "display:none"; 
    document.getElementById("tourvideos").style = "display:none";    
    document.getElementById("recipevideos").style = "display:visible";
    }
}

//segments all the articles into the arrays defined at the beginning
function filterBlog() {
    for (let i = 0 ; i < allBlog.length ; i++ ) {
        let catString = allBlog[i].category.toLowerCase();
        if ( catString.includes("blog") ) {
            allArticles.push(allBlog[i]);
        }
    }
}
filterBlog();
console.log(allArticles);

//this ultimately calls the makeLink function to create the links, the purpose of this function is to select the right template to post the content to
function initialise(pages, containerid, templateid, divid) {
 let sortedArray = pages.sort (function (a,b) {
     return a.order - b.order;
 })

 const container = document.querySelector(containerid);
 const template = document.querySelector(templateid);

 pages.forEach((article) => {
     const element = template.content.cloneNode(true);
     const image = element.querySelector('img');
     image.src = article.image;
     image.alt = article.description;
     element.getElementById(divid).innerHTML = article.title;
     element.getElementById('divlink').href = makeLink(article.title,article.slug);
     element.getElementById('description').innerHTML = article.description;
     container.appendChild(element);
 });
}

//this populates the templates in the html
initialise(allArticles, ".all-container",'#all-template',"all-link",);

</script>