---
layout: /layouts/pagetemplate.njk
pagination:
    data: pagesstoryblok.page
    size: 1
    alias: pagedata
permalink: "contents/{{ pagedata.slug | slug }}/index.html"
eleventyComputed:
    title: "{{ pagedata.content.title | title }} | Allotment Book"
    description: "{{ pagedata.content.seo_description }}"
---

     <div id="sidebar">
             a sidebar for a page
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading">
                        <div id="breadcrumb-container" style="display:flex; justify-content:space-between">
                            <div id="breadcrumb">
                                <a href="/contents">Contents</a><i class="fas fa-chevron-right"></i>
                                <a href="/introduction">Introduction</a><i class="fas fa-chevron-right"></i>
                            </div>
                            <div id="breadcrumb-back"></div>
                        </div>
                    </div>

                    <div id="content-body">

                        <article>

                        <div id="higher-next-previous" style="display:flex;justify-content:space-between;align-items:center;">
                            <div id="higher-previous">
                            </div>
                            <div id="higher-next">
                            </div>
                        </div>

                        <div style="display:flex;justify-content:space-between" id="header-container">

                            <h1 id="title" style="margin-bottom:10px">{{ pagedata.content.title | title }}</h1> 

                        </div>                         

                            <p>{{ pagedata.content.excerpt }}</p>

                            <img style="width:100%" src="{{ pagedata.content.lead_image.filename }}" alt="{{pagedata.content.lead_image.alt}}"/>

                            <div id="markedup"></div>

                        </article>

                        <div id="next-previous" style="display:flex;justify-content:space-between;align-items:center">
                            <div id="lower-previous">
                            </div>
                            <div id="lower-next">
                            </div>
                        </div>
                        <hr />
                        <h4>Quick Links</h4>
                        
                        <div style="padding-bottom:2rem">
                            <a href="{{ settings.book }}"><button style="font-size:1.2rem;color:#ffffff;background:#009900;border:none;width:100%;padding-top:1rem;padding-bottom:1rem;margin-bottom:1rem"><i style="padding-right:10px" class="fas fa-book-open"></i> Book Contents</button></a>
                            <a href="{{ settings.shop }}"><button style="font-size:1.2rem;color:#ffffff;background:#009900;border:none;width:100%;padding-top:1rem;padding-bottom:1rem;margin-bottom:1rem"><i style="padding-right:10px" class="fas fa-shopping-bag"></i> Allotment Shop</button></a>
                            <a href="{{ settings.tools }}"><button style="font-size:1.2rem;color:#ffffff;background:#009900;border:none;width:100%;padding-top:1rem;padding-bottom:1rem;margin-bottom:1rem"><i style="padding-right:10px" class="far fa-calendar-alt"></i> Planning Tools</button></a>
                            
                        </div>

                    </div> 
                </main>

            </div>


<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>

//this is the script that populates the content into the markedup div
let text = `{{ pagedata.content.main_content }}`;
document.getElementById("markedup").innerHTML = marked.parse(text);

//this is the script that generates the previous and next buttons

let pagesArray = {{ pagesstoryindex | dump | safe }};
let vegArray = {{ vegstoryindex | dump | safe }};
let allPagesSorted = [];
let grabTitle = document.getElementById("title").innerHTML;

//this function sorts all pages ready for the next and previous buttons, and stores this in the allPagesSorted array 
function sortPages() {
    let interimArray = [...pagesArray,...vegArray];
    allPagesSorted = interimArray.sort (function (a,b) {
     return a.order - b.order
})
}
sortPages();

//this determines the index value of the current page in the allPagesSorted array
let pageIndexNumber = null;

function findPageIndex() {
    for ( i = 0 ; i < allPagesSorted.length ; i++) {
        if ( grabTitle.toLowerCase() == allPagesSorted[i].title.toLowerCase() ) {
            pageIndexNumber = i;
        }
    }
}
findPageIndex();

//this stores the next and prevous pages in variables
let nextPage = [];
let previousPage = [];

function findNext() {
    if ( pageIndexNumber < allPagesSorted.length - 1) {
    nextPage.push(allPagesSorted[pageIndexNumber + 1])
    }
}
findNext();

function findPrevious() {
    if ( pageIndexNumber !== 0 ) {
    previousPage.push(allPagesSorted[pageIndexNumber - 1])
    }
}
findPrevious();

//make the buttons based on logic

function createButtons() {
    if ( nextPage.length > 0 ) {
        document.getElementById("higher-next").innerHTML = makeNextButton(nextPage[0].title, nextPage[0].slug);
        document.getElementById("lower-next").innerHTML = makeNextButton(nextPage[0].title, nextPage[0].slug);
        }
    if ( pageIndexNumber > 0 ) {
        document.getElementById("higher-previous").innerHTML = makePreviousButton(previousPage[0].title, previousPage[0].slug);
        document.getElementById("lower-previous").innerHTML = makePreviousButton(previousPage[0].title, previousPage[0].slug);
    }
}
createButtons();

//this generates the link to the next page
function makeNextButton(title,slug) {
 return (
     `<a href="/contents/${slug}"><button style="background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-chevron-circle-right"></i> Next Page</button></a>`
 )
};

//this generates the link to the previous page
function makePreviousButton(title,slug) {
 return (
     `<a href="/contents/${slug}"><button style="background:#009900;width:120px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-chevron-circle-left"></i> Back</button></a>`
 )
};
function makePreviousBreadcrumb(title,slug) {
 return (
     `<a href="/contents/${slug}"><button style="background:#333333;width:100px; border:none;color:#ffffff;font-size:0.9rem; padding-top: 0.2rem; padding-bottom: 0.2rem;margin-top:1px; margin-right:5px"><i style="padding-right:1%" class="fas fa-chevron-circle-left"></i> Back</button></a>`
 )
};

console.log(previousPage);

</script>