---
layout: /layouts/pagetemplate.njk
date: Last Modified
pagination:
    data: gallery
    size: 1
    alias: thing
permalink: "photo-gallery/{{ thing.name | slug }}-{{ thing.date }}/index.html"
eleventyComputed:
    title: "{{ thing.name | title }} | Photo Galleries | Allotment Book"
    description: "{{ thing.introduction | capitalize}}"
---

     <div id="sidebar">
             
        </div>
    
        <div id="main-column">
        
                <main style="min-height: 100vh" id="main-content">
                                        
                    <div id="content-heading">
                        <div id="breadcrumb-container" style="display:flex; justify-content:space-between">
                            <div id="breadcrumb">
                                <a href="/photo-gallery">Galleries</a><i class="fas fa-chevron-right"></i>
                                <a href="/photo-gallery/{{ thing.name | slug }}-{{ thing.date }}">{{thing.name | title}}</a><i class="fas fa-chevron-right"></i>                                
                            </div>
                            <div id="breadcrumb-back"></div>
                        </div>

                        <div>
                        
                        <div id="gallery-container" style="display:flex; align-items: center; background:#ffffff;padding-top:0.5rem">
                            <div id="previous" style="width:10%;text-align:center; color: #ffffff; font-size:2rem">
                                <a onclick="previousImage()"><img style="width:30px; height:30px" src="/images/uploads/green-chevron-left.webp" alt"green chevron icon" /></a>
                            </div>
                        <div class="photo-gallery-hero" id="hero" style=""></div>
                            <div id="next" style="width:10%;text-align:center; color: #ffffff; font-size:2rem">
                                <a onclick="nextImage()"><img style="width:30px; height:30px" src="/images/uploads/green-chevron-right.webp" alt"green chevron icon" /></i></a>
                            </div>

                        </div>
<div class="gallery-text-button" id="herotext" style="padding-bottom: 0.5rem;background:#ffffff"></div>
                    </div>

                    

                    <div class="gallery-text-button" style="margin-top:20px" id="content-body">
                        <div style="text-align: center">
                            <a href="/photo-gallery"><button style="background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px">All Galleries</button></a>
                        </div>  

                    </div>

                    
                </main>

            </div>


<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>

let currentIndex = 0;
let galleryPhotos = JSON.parse(`{{ thing.photos | dump | safe }}`);

function heroImage(index) {
    document.getElementById("hero").innerHTML = createImage(galleryPhotos[index].url)
}
heroImage(currentIndex);


function heroText(index) {
    document.getElementById("herotext").innerHTML = galleryPhotos[index].alt;
}
heroText(currentIndex);


function previousImage() {
    if ( currentIndex > 0 ) {
    heroImage(currentIndex - 1);
    heroText(currentIndex - 1);
    currentIndex = currentIndex - 1;
    }
    else {
    heroImage(galleryPhotos.length - 1);
    heroText(galleryPhotos.length - 1);
    currentIndex = galleryPhotos.length - 1;
    }
}

function nextImage() {
    if ( currentIndex < galleryPhotos.length - 1) {
    heroImage(currentIndex + 1);
    heroText(currentIndex + 1);
    currentIndex = currentIndex + 1;
    }
    else {
    currentIndex = 0;
    heroImage(0);
    heroText(0);
    }
}

function createImage(src) {
 return (
     `<img style="width:100%" src="https://res.cloudinary.com/allotment-book/image/upload/l_text:Cherry Swash_25:©%20AllotmentBook.co.uk,g_south_west,x_20,y_20,co_white/w_600,h_600,q_auto,f_auto/${src}" />`
 )
}

</script>
