---
date: Last Modified
pagination:
    data: gallery
    size: 1
    alias: thing
permalink: "photo-gallery/{{ thing.name | slug }}-{{ thing.date }}/index.html"
eleventyComputed:
    title: "{{ thing.name | title }} | Photo Galleries | Allotment Book"
    description: "{{ thing.introduction | capitalize}}"
---

<!DOCTYPE html>
<html lang="en-gb">
<link rel="icon" 
      type="image/png" 
      href="https://res.cloudinary.com/allotment-book/image/upload/v1644488348/navigation/allotment-book-favicon_pfalpi.webp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="twitter:site" content="@AllotmentBook">
    <meta property="article:modified_time" content="{{ page.date }}">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:url" content="{{ settings.url }}{{ page.url }}" />
    <meta property="og:site_name" content="Allotment Book" />
    <meta property="og:image" content="{{ image }}" />
    <meta name="og:description" content="{{ description }}">

    <style>
        body {
            margin: 0px;
            padding: 0px:
        }

        @media only screen and (min-width: 769px) {
        {% include 'css/galleryDesktop.css' %}
        }

        @media only screen and (max-width: 768px) {
        {% include 'css/galleryMobile.css' %}
        }
        
    </style>

</head>

<body>
    
        
            <main>
                                        
                <div id="newGalleryWrapper">

                    <div id="newGalleryContainer">

                        <div id="newGalleryClose">
                            <a href="/photo-gallery">
                                <button>
                                    <img src="/images/uploads/close-icon.svg" alt"" />
                                    <div>Close</div>
                                </button>
                            </a>
                        </div>

                        <div class="newHeroGalleryPhoto" id="hero">

                            <div id="newGalleryPhotoTitle">
                                <h1 id="herotext">
                                </h1>
                            </div>

                            <img src="/images/uploads/logo_icon.png" alt"" />

                        </div>

                        <div id="newGalleryButtonContainer">
                            <div class="newGalleryBackAndNextControls" id="previous">
                                <a id="moveBackClick">
                                    <div class="newGalleryBackAndNextControlsDetail">
                                        <img src="/images/uploads/white-chevron-left.png" alt"" />
                                        <div id="newGalleryBackAndNextBackText">Back</div>
                                    </div>
                                </a>
                            </div>

                            <div class="newGalleryBackAndNextControls" id="next">
                                <a id="moveForwardClick">
                                    <div class="newGalleryBackAndNextControlsDetail">
                                        <div id="newGalleryBackAndNextForwardText">Next</div>
                                        <img src="/images/uploads/white-chevron-right.png" alt"" />
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div id="newGalleryLinkContainer">
                            <div id="linkPromo"></div>
                            <a id="link" href="/photo-gallery"><button id="linkname">All Galleries</button></a>
                        </div>

                    </div>                               
                        
                    

                </div>                                                                         
                                 
                    
            </main>




<script>

let currentIndex = 0;
let galleryPhotos = JSON.parse(`{{ thing.photos | dump | safe }}`);
let galleryLinks = JSON.parse(`{{ thing | dump | safe }}`);
console.log("galleryLinks",galleryLinks)

const hero = document.querySelector("#hero");

function heroImage(index) {
    hero.style["background-image"] = createImage(galleryPhotos[index].url);
    document.getElementById("linkname").innerHTML = galleryLinks.linkname;
    document.getElementById("linkPromo").innerHTML = galleryLinks.introduction;
    document.getElementById("link").href = galleryLinks.link;
}
heroImage(currentIndex);


function heroText(index) {
    document.getElementById("herotext").innerHTML = galleryPhotos[index].alt;
}
heroText(currentIndex);


function previousImage() {
    if ( currentIndex > 0 ) {
    heroImage(currentIndex - 1);
    heroText(currentIndex - 1);
    currentIndex = currentIndex - 1;
    }
    else {
    heroImage(galleryPhotos.length - 1);
    heroText(galleryPhotos.length - 1);
    currentIndex = galleryPhotos.length - 1;
    }
}

const moveBackClick = document.querySelector("#moveBackClick");
moveBackClick.addEventListener("click", previousImage);

function nextImage() {
    if ( currentIndex < galleryPhotos.length - 1) {
    heroImage(currentIndex + 1);
    heroText(currentIndex + 1);
    currentIndex = currentIndex + 1;
    }
    else {
    currentIndex = 0;
    heroImage(0);
    heroText(0);
    }
}

const moveForwardClick = document.querySelector("#moveForwardClick");
moveForwardClick.addEventListener("click", nextImage);

function createImage(src) {   
 return (
     `url("https://res.cloudinary.com/allotment-book/image/upload/w_600,h_600,q_auto,f_auto/${src}")`
 )
}

</script>

    <script>
        var s = document.createElement('script');
        s.src = "https://books-three.allotmentbook.co.uk/script.js";
        s.dataset.site = "QDSWGSQM";
        document.head.appendChild(s);
    </script>

</body>

</html>