---
layout: /layouts/pagetemplate.njk
date: Last Modified
pagination:
    data: generalstoryblok.page
    size: 1
    alias: pagedata
    addAllPagesToCollections: true
permalink: "{{ pagedata.slug }}/index.html"
eleventyComputed:
    title: "{{ pagedata.content.title | title }} | Allotment Book"
    description: "{{ pagedata.content.seo_description }}"
    image: "{{ pagedata.content.lead_image.filename }}"
---

     <div id="sidebar">
            
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading">
                        <div id="breadcrumb-container" style="display:flex; justify-content:space-between">
                            <div style="font-size:1rem" id="breadcrumb">
                                <a href="/">Home</a><i class="fas fa-chevron-right"></i>
                                <a id="blink" href="">{{ pagedata.content.title | title }} </a><i class="fas fa-chevron-right"></i>
                            </div>
                            <div id="breadcrumb-back"></div>
                        </div>
                    </div>

                    <div id="content-body">

                        <article>

                        <div style="display:flex;justify-content:space-between" id="header-container">

                            <h1 id="title" style="margin-bottom:10px">{{ pagedata.content.title | title }}</h1>
                            
                        </div>                         

                            <img class="hero-image" id="featured-image" style="" src="{{ pagedata.content.lead_image.filename }}" alt="{{pagedata.content.lead_image.alt}}"/>

                            <div id="intro-title"><h2 style="margin-bottom:10px">Introduction</h2>

                            <div style="margin-bottom:2rem" id="introduction"></div>

                            </div>

                            <div style="padding-bottom:20px" id="video-container">

                                <h2 id="title-video" style="padding-bottom:5px">Step By Step Video</h2>

                                <div id="embed-container" class="embed-container" style=""></div>

                            </div>

                            <div style="padding-bottom:20px" id="youtube-container">

                                <h2 id="title-youtube" style="padding-bottom:5px">YouTube Video</h2>

                                <div id="youtube-embed-container" class="embed-container" style=""></div>

                            </div>

                            <div style="padding-bottom:1rem" id="notes"></div>

                            <div style="border:#009900 solid 2px; border-radius: 25px;padding:0.5rem 2rem 0.5em 2rem; background:#e0f7d3;margin-bottom:2rem" id="ingredients-one">Hello One!</div>

                            <div style="border:#009900 solid 2px; border-radius: 25px;padding:0.5rem 2rem 0.5em 2rem; background:#e0f7d3;margin-bottom:2rem" id="ingredients-two"><h4>Hello Two!</h4></div>

                            <div style="border:#009900 solid 2px; border-radius: 25px;padding:0.5rem 2rem 0.5em 2rem; background:#e0f7d3;margin-bottom:2rem" id="ingredients-three"><h4>Hello Three!</h4></div>

                            <div style="" id="transcript"></div>


                        </article>

                        <hr />
                        <h4>Quick Links</h4>
                        
                        <div style="padding-bottom:2rem">
                            <a href="{{ settings.book }}"><button style="font-size:1.2rem;color:#ffffff;margin-top:5p;background:#009900;border:none;width:100%;padding-top:1rem;padding-bottom:1rem;margin-bottom:1rem">Book Contents</button></a>
                            <a href="{{ settings.shop }}"><button style="font-size:1.2rem;color:#ffffff;margin-top:5p;background:#009900;border:none;width:100%;padding-top:1rem;padding-bottom:1rem;margin-bottom:1rem">Allotment Shop</button></a>
                            <a href="{{ settings.tools }}"><button style="font-size:1.2rem;color:#ffffff;margin-top:5p;background:#009900;border:none;width:100%;padding-top:1rem;padding-bottom:1rem;margin-bottom:1rem">Planning Tools</button></a>
                            
                        </div>

                    </div> 
                </main>

            </div>


<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>

//this populates the page with storyblok content, by using javascript to target divs and passing in the content
let introText = `{{ pagedata.content.introduction }}`;
let featuredImage = `{{ pagedata.content.lead_image.filename }}`;
let notesText = `{{ pagedata.content.notes }}`;
let ingredientsOne = `{{ pagedata.content.ingredients_one }}`;
let ingredientsTwo = `{{ pagedata.content.ingredients_two }}`;
let ingredientsThree = `{{ pagedata.content.ingredients_three }}`;
let transcriptText = `{{ pagedata.content.transcript }}`;
let videoCheck = `{{ pagedata.content.vimeo_number }}`;
let youtubeCheck = `{{ pagedata.content.youtube_number }}`;
document.getElementById("introduction").innerHTML = marked.parse(introText);
document.getElementById("transcript").innerHTML = marked.parse(transcriptText);

//a function to adjust for empty content, which is then called below the function
function removeDiv( divname, keyname ) {
    if ( keyname == "" ) {
        document.getElementById(divname).style = "display:none"
    } else {
        document.getElementById(divname).innerHTML = marked.parse( keyname )
    }
}

function loadVimeoVideo() {
    return (
        `<iframe style="" id="video-file" src="https://player.vimeo.com/video/{{pagedata.content.vimeo_number}}" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>`
    )
}

function loadYouTubeVideo() {
    return (
        `<iframe style="" id="video-file" src="https://www.youtube.com/embed/{{pagedata.content.youtube_number}}" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>`
    )
}

//A function that checks if there is a vimeo video, and if not, removes the section
function checkIfVideo() {
    if ( videoCheck == "" ) {
        document.getElementById("video-container").style = "display:none";
    }
    else {
        document.getElementById("embed-container").innerHTML =loadVimeoVideo();
    }
}
checkIfVideo();

//A function that checks if there is a youtube video, and if not, removes the section
function checkYouTubeVideo() {
    if ( youtubeCheck == "" ) {
        document.getElementById("youtube-container").style = "display:none";
    }
    else {
        document.getElementById("youtube-embed-container").innerHTML =loadYouTubeVideo();
    }
}
checkYouTubeVideo();

//these call the above function, effectively checking for empty content
removeDiv("ingredients-one", ingredientsOne);
removeDiv("ingredients-two", ingredientsTwo);
removeDiv("ingredients-three", ingredientsThree);
removeDiv("notes", notesText);
removeDiv("intro-title", introText);
removeDiv("featured-image", featuredImage);
removeDiv("transcript", transcriptText);


</script>