---
title: Allotment And Kitchen Garden Website | Discover the Allotment Book
description: An allotment website dedicated to helping the home or allotment gardener enjoy growing fruit and vegetables. Practical guides with lots of photos!
date: Last Modified
layout: /layouts/pagetemplate.njk
---

        <div id="sidebar">
            
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading" style="background:#009900">
                        <img style="width:100%;margin-bottom:0px;padding-bottom:0px" src="https://res.cloudinary.com/allotment-book/image/upload/w_720,h_280/v1643896629/home/landscape-allotment_d2eeyl.jpg" alt="Drawing of an example allotment"/>
                        <div style="margin-top:0px;background:#009900">
                            <h1 style="margin-top:0px; padding-bottom: 2px; font-size: 1.2em; color:#ffffff; text-align:center">Welcome to the Allotment Book</h1>
                        </div>
                    </div>
                    

                    <div id="content-body">

                        <div style="margin-top:-5px;display:flex;flex-wrap:wrap;justify-content:center">

                            <a href="/contents/about-the-allotment-book"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-info-circle"></i> About</button></a>
                            <a href="/shop"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-shopping-bag"></i> Shop</button></a>

                            <a href="/videos"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-video"></i> Videos</button></a>

                            <a href="/vegetable-growing-guides"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-carrot"></i> Veg Guides</button></a>

                            <a href="/fruit-growing-guides"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-apple-alt"></i> Fruit Guides</button></a>

                            <a href="/allotment-recipes"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-utensils"></i> Recipes</button></a>

                        </div>

                        <hr>
                        <div>
                        <h2 style="margin-top:7px;margin-bottom:7px;font-size: 1em;">Photo Galleries</h2>
                        
                        <div style="display:flex;flex-wrap:wrap;justify-content:center" class="gallery-container">
                            {% for item in gallery | getPhotos(6) %}
                            <div style="margin: 10px">
                                    <a id="gallery-link" href="/photo-gallery/{{item.title | slug }}-{{item.date}}"><img src="https://res.cloudinary.com/allotment-book/image/upload/w_140,h_140,q_auto,f_auto/{{item.image}}" alt="{{item.title}}"/>
                                    <div style="text-align:center; text-transform:capitalize;font-size:0.9rem" id="gallery-title"> {{item.title}}</div></a>
                                </div>
                            {% endfor %}
                            </div>  

                        <hr>

                        <h2 style="margin-top:7px; font-size: 1em;">Latest YouTube</h2>
                        <div id="video-list-container" style="">
                            {% for item in videos | getVideos(4) %}

                                <a id="divlink" href="{{item.link}}">
                                    <div style="display:flex;justify-content:flex-start;border: solid #009900 0px; margin-bottom: 1.2rem">

                                        <img style="display:block;width:100px;height:100px;padding:0px" 
                                        src="{{item.image}}/m/100x100" 
                                        alt="{{item.title}}" 
                                        />
                                                
                                        <div style="padding-left:0.7em; padding-right:0.5em;padding-bottom:0.7em"> 
                                            <h4 style="margin-top:0px;margin-bottom:10px;font-size:1rem">
                                            {{item.title}}
                                            </h4>
                                            <div id="description" style="font-size:0.9rem">
                                            {{item.description}}
                                            </div>
                                        </div>                                   

                                    </div>
                                </a>

                            {% endfor %}
                        </div>

                        <hr>

                        <h2 style="margin-top:7px; font-size: 1em;">Browse Shop</h2>

                        <div style="" id="shop-listings-container">
                        
                            {% for cats in varshopcats.cats %} 

                            <a id="divlink" href="{{cats.link}}">
                                        <div style="width:150px;border: solid #009900 0.5px; margin-bottom: 1rem; margin-left: 0.8rem;margin-right:0.8rem">

                                            <img style="display:block; width:150px;" src="{{cats.image}}" alt="{{cats.alt}}" />
                                            
                                            <div style="display:flex; align-items: center"> 
                                                <div style="padding-left: 0.5em; padding-top: 7px;padding-bottom:7px"><i style="font-size:0.9em;color:#009900;" class="fas fa-chevron-circle-right"></i></div><div style="padding-left:0.5em; padding-right: 10px;font-size:0.95rem" id="vegrecipes-link">{{ cats.text | title }}</div>
                                            </div>                                   

                                        </div>
                                    </a>
                            
                            {% endfor %}                             

                        
                        </div> 
                    </div>
                
                </main>

        </div>

<script>

//gets all the information for the latest photos, the number in the argument is the number of galleries to return
let latestPhotos = JSON.parse(`{{ gallery | getPhotos(6) | dump | safe }}`);

//this creates the photo gallery links
function initialise(pages, containerid, templateid) {
 
 const container = document.querySelector(containerid);
 const template = document.querySelector(templateid);

 pages.forEach((photo) => {
     let slugTitle = convertToSlug(photo.title)
     const element = template.content.cloneNode(true);
     const image = element.querySelector('img');
     image.src = `https://res.cloudinary.com/allotment-book/image/upload/w_140,h_140,q_auto,f_auto/${photo.image}`;
     image.alt = photo.title;
     element.getElementById('gallery-title').innerHTML = photo.title;
     element.getElementById('gallery-link').href = `photo-gallery/${slugTitle}-${photo.date}`;
     container.appendChild(element);
 });
}




function createImage(src) {
 return (
     `<img style="width:100%" src="https://res.cloudinary.com/allotment-book/image/upload/w_600,h_600,q_auto,f_auto/${src}" />`
 )
}

//convert text to a slug to use in a url
function convertToSlug(text)
{
    return text
        .toLowerCase()
        .replace(/ /g,'-')
        .replace(/[^\w-]+/g,'')
        ;
}

</script>




 
  

