---
title: Allotment And Kitchen Garden Website | Discover the Allotment Book
description: An allotment website dedicated to helping the home or allotment gardener enjoy growing fruit and vegetables. Practical guides with lots of photos!
date: Last Modified
layout: /layouts/pagetemplate.njk
---

        <div id="sidebar">

             <div style="padding-left:20px; padding-bottom:20px">


                <!-- START ADVERTISER: Thompson & Morgan from awin.com -->

                <a rel="sponsored" href="https://www.awin1.com/cread.php?s=259005&v=2283&q=123818&r=1016123">
                    <img src="https://www.awin1.com/cshow.php?s=259005&v=2283&q=123818&r=1016123" border="0">
                </a>

                <!-- END ADVERTISER: Thompson & Morgan from awin.com -->

            </div>

            <div style="padding-left:20px; padding-bottom:20px">

                <!-- START ADVERTISER: Thompson & Morgan from awin.com -->

                <a rel="sponsored" href="https://www.awin1.com/cread.php?s=2318517&v=2283&q=121696&r=1016123">
                    <img src="https://www.awin1.com/cshow.php?s=2318517&v=2283&q=121696&r=1016123" border="0">
                </a>

                <!-- END ADVERTISER: Thompson & Morgan from awin.com -->

            </div>
            
            <div style="padding-left:20px; padding-bottom:20px">


                <!-- START ADVERTISER: Thompson & Morgan from awin.com -->

                <a rel="sponsored" href="https://www.awin1.com/cread.php?s=259000&v=2283&q=123818&r=1016123">
                    <img src="https://www.awin1.com/cshow.php?s=259000&v=2283&q=123818&r=1016123" border="0">
                </a>

                <!-- END ADVERTISER: Thompson & Morgan from awin.com -->

            </div> 
            
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading" style="background:#009900">
                        <div id="non-mobile-homepage-hero"><img style="display:block;width:100%;margin-bottom:0px;padding-bottom:0px" src="https://res.cloudinary.com/allotment-book/image/upload/w_700,h_272,q_auto,f_auto/v1644496298/home/landscape-allotment_qmaz0n.webp" alt="Drawing of an example allotment"/></div>
                        <div id="mobile-homepage-hero"><img style="width:100%;margin-bottom:0px;padding-bottom:0px" src="https://res.cloudinary.com/allotment-book/image/upload/w_540,h_210,q_auto,f_auto/v1644496298/home/landscape-allotment_qmaz0n.webp" alt="Drawing of an example allotment"/></div>
                        <div style="margin-top:0px;background:#009900">
                            <h1 style="margin-top:0px; padding-bottom: 2px; font-size: 1.2em; color:#ffffff; text-align:center">Welcome to the Allotment Book</h1>
                        </div>
                    </div>
                    

                    <div id="content-body">

                        <div style="margin-top:-5px;display:flex;flex-wrap:wrap;justify-content:center">

                            <a href="/contents/about-the-allotment-book"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-info-circle"></i> About</button></a>
                            <a href="/shop"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-shopping-bag"></i> Shop</button></a>

                            <a href="/videos"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-video"></i> Videos</button></a>

                            <a href="/vegetable-growing-guides"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-carrot"></i> Veg Guides</button></a>

                            <a href="/fruit-growing-guides"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-apple-alt"></i> Fruit Guides</button></a>

                            <a href="/allotment-recipes"><button style="margin:10px;background:#009900;width:140px; border:none;color:#ffffff;font-size:1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;margin-top:10px"><i style="padding-right:1%" class="fas fa-utensils"></i> Recipes</button></a>

                        </div>

                        <div id="video-list-container" style="text-align:center;margin-top:10px;margin-bottom:20px">
                         A collection of growing guides, planning resources, and recipes for the home gardener. See the full <a href="/contents">table of contents</a>.
                        </div>

                        <hr>
                        <div id="video-list-container" style="margin-top:10px">
                            <a id="plant-month-link" href="">
                                    <div style="display:flex;justify-content:flex-start;border: solid #009900 0px; margin-bottom: 0.5rem">

                                        <div style="color:#009900">
                                            <i style="font-size:2.5rem" class="fas fa-seedling"></i>
                                        </div>
                                                
                                        <div style="padding-left:0.7em; padding-right:0.5em;padding-bottom:0.7em"> 
                                            <h4 id="plant-month-title" style="margin-top:0px;margin-bottom:10px;font-size:1.2rem;text-transform:capitalize">
                                            </h4>
                                            <div id="plant-month-description" style="font-size:1rem;margin-bottom:-10px">
                                            
                                            </div>
                                        </div>                                   

                                    </div>
                             </a>
                        </div>

                         <hr>
                        <div>
                        <h2 style="margin-top:-15px;margin-bottom:7px;font-size: 1em;">Photo Galleries</h2>
                        
                        <div style="display:flex;flex-wrap:wrap;justify-content:center" class="gallery-container">
                            {% for item in gallery | getPhotos(6) %}
                            <div style="margin: 10px">
                                    <a id="gallery-link" href="/photo-gallery/{{item.title | slug }}-{{item.date}}"><img style="width:140px;height:140px"src="https://res.cloudinary.com/allotment-book/image/upload/w_140,h_140,q_auto,f_auto/{{item.image}}" alt="{{item.title}}"/>
                                    <div style="text-align:center; text-transform:capitalize;font-size:0.9rem" id="gallery-title"> {{item.title}}</div></a>
                                </div>
                            {% endfor %}
                            </div>  

                        <hr>

                        <h2 style="margin-top:-15px; font-size: 1em;">Latest YouTube</h2>
                        <div id="video-list-container" style="">
                            {% for item in videos | getVideos(4) %}

                                <a id="divlink" href="{{item.link}}">
                                    <div style="display:flex;justify-content:flex-start;border: solid #009900 0px; margin-bottom: 1.2rem">

                                        <img style="display:block;width:100px;height:100px;padding:0px" 
                                        src="{{item.image}}/m/100x100" 
                                        alt="{{item.title}}" 
                                        />
                                                
                                        <div style="padding-left:0.7em; padding-right:0.5em;padding-bottom:0.7em"> 
                                            <h4 style="margin-top:0px;margin-bottom:10px;font-size:1rem">
                                            {{item.title}}
                                            </h4>
                                            <div id="description" style="font-size:0.9rem">
                                            {{item.description}}
                                            </div>
                                        </div>                                   

                                    </div>
                                </a>

                            {% endfor %}
                        </div>

                        <hr>

                        <h2 style="margin-top:-15px; font-size: 1em;">Browse Shop</h2>

                        <div style="" id="shop-listings-container">
                        
                            {% for cats in varshopcats.cats %} 

                            <a id="divlink" href="{{cats.link}}">
                                        <div style="width:150px;border: solid #009900 0.5px; margin-bottom: 1rem; margin-left: 0.8rem;margin-right:0.8rem">

                                            <img style="display:block; width:150px;height:79px" src="{{cats.image}}" alt="{{cats.alt}}" />
                                            
                                            <div style="display:flex; align-items: center"> 
                                                <div style="padding-left: 0.5em; padding-top: 7px;padding-bottom:7px"><i style="font-size:0.9em;color:#009900;" class="fas fa-chevron-circle-right"></i></div><div style="padding-left:0.5em; padding-right: 10px;font-size:0.95rem" id="vegrecipes-link">{{ cats.text | title }}</div>
                                            </div>                                   

                                        </div>
                                    </a>
                            
                            {% endfor %}                             

                        
                        </div> 

                                <hr>

                                <div class="tablet-ads">
                        
                                    <!-- START ADVERTISER: Buy Sheds Direct from awin.com -->

                                        <a rel="sponsored" href="https://www.awin1.com/cread.php?s=3036059&v=25446&q=427395&r=1016123">
                                            <img src="https://www.awin1.com/cshow.php?s=3036059&v=25446&q=427395&r=1016123" border="0">
                                        </a>

                                    <!-- END ADVERTISER: Buy Sheds Direct from awin.com --> 

                                    <!-- START ADVERTISER: Thompson & Morgan from awin.com -->

                                        <a rel="sponsored" href="https://www.awin1.com/cread.php?s=2318536&v=2283&q=121696&r=1016123">
                                            <img src="https://www.awin1.com/cshow.php?s=2318536&v=2283&q=121696&r=1016123" border="0">
                                        </a>

                                    <!-- END ADVERTISER: Thompson & Morgan from awin.com -->                         
                                </div>

                                <div class="mobile-ads">
                                    <!-- START ADVERTISER: Thompson & Morgan from awin.com -->

                                    <a rel="sponsored" href="https://www.awin1.com/cread.php?s=2318536&v=2283&q=121696&r=1016123">
                                        <img src="https://www.awin1.com/cshow.php?s=2318536&v=2283&q=121696&r=1016123" border="0">
                                    </a>

                                    <!-- END ADVERTISER: Thompson & Morgan from awin.com --> 
                                </div>


                    </div>
                
                </main>

        </div>

<script>

let thisMonth = "";
let plantingURL = "";

switch (new Date().getMonth()) {
  case 0:
    thisMonth = "January";
    plantingURL = "/january-planting-guide"
    break;
  case 1:
    thisMonth = "February";
    plantingURL = "/february-planting-guide"
    break;
  case 2:
    thisMonth = "March";
    plantingURL = "/march-planting-guide"
    break;
  case 3:
    thisMonth = "April";
    plantingURL = "/april-planting-guide"
    break;
  case 4:
    thisMonth = "May";
    plantingURL = "/may-planting-guide"
    break;
  case 5:
    thisMonth = "June";
    plantingURL = "/june-planting-guide"
    break;
  case  6:
    thisMonth = "July";
    plantingURL = "/july-planting-guide"
    break;
  case  7:
    thisMonth = "August";
    plantingURL = "/august-planting-guide"
    break;
  case  8:
    thisMonth = "September";
    plantingURL = "/september-planting-guide"
    break;
  case  9:
    thisMonth = "October";
    plantingURL = "/october-planting-guide"
    break;
  case  10:
    thisMonth = "November";
    plantingURL = "/november-planting-guide"
    break;
  case  11:
    thisMonth = "December";
    plantingURL = "/december-planting-guide"
}

document.getElementById("plant-month-title").innerHTML = "what to plant in " + thisMonth;
document.getElementById("plant-month-description").innerHTML = "A guide on what fruit, vegetables, and herbs to plant in " + thisMonth + ".";
document.getElementById("plant-month-link").href = plantingURL;

</script>




 
  

