---
permalink: "introduction/index.html"
title: Introduction Articles | Allotment Book
description: An introduction to growing fruit and vegeatables on an allotment in the UK, looking at the benefits of having an allotment and advice for starting out. 
date: Last Modified
layout: /layouts/pagetemplate.njk
---
        
        <div id="sidebar">

             {# <div style="padding-left:20px; padding-bottom:20px">

                <script language="javascript" type="text/javascript">var myTarget='https://track.webgains.com/click.html?wglinkid=3999445&wgcampaignid=1350985&js=0';var uri = 'https://track.webgains.com/link.html?wglinkid=3999445&wgcampaignid=1350985';document.write('<a href="'+myTarget+'" target="_blank" onMouseOver="window.status=\'https://www.originalorganics.co.uk/rowlinson-hardwood-mini-greenhouse\';return true;" onMouseOut="window.status=\'\'"><img src="'+uri+'" width="300" height="250" border="0" alt="mini greenhouse"/></a>');</script>

            </div> #}

            {# <div style="padding-left:20px; padding-bottom:20px">

                
                <!-- START ADVERTISER: Thompson & Morgan from awin.com -->

                <a rel="sponsored" href="https://www.awin1.com/cread.php?s=2318517&v=2283&q=121696&r=1016123">
                    <img src="https://www.awin1.com/cshow.php?s=2318517&v=2283&q=121696&r=1016123" border="0">
                </a>

                <!-- END ADVERTISER: Thompson & Morgan from awin.com -->

            </div> #}
            
            {# <div style="padding-left:20px; padding-bottom:20px">

                
                <!-- START ADVERTISER: Buy Sheds Direct from awin.com -->

                <a rel="sponsored" href="https://www.awin1.com/cread.php?s=3032573&v=25446&q=427392&r=1016123">
                    <img src="https://www.awin1.com/cshow.php?s=3032573&v=25446&q=427392&r=1016123" border="0">
                </a>

                <!-- END ADVERTISER: Buy Sheds Direct from awin.com -->

            </div> #}

        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                        <div id="content-heading">
                            <div id="breadcrumb-container">
                                <div id="breadcrumb">
                                <a href="/contents">Contents</a><i class="fas fa-chevron-right"></i>
                                <a href="/introduction">Introduction</a><i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        

                        <div id="content-body">

                            <h1 style="font-size:1.4rem">Introduction</h1>

                            <div style="padding-bottom: 2rem;display:flex; flex-wrap: wrap" class="intro-container"></div>

                                <template id="intro-template">

                                <a style="color:#006600" id="divlink" href""><div style="border: solid var(--green-light) 1px; margin-bottom: 1rem; width:270px;margin-left:10px;margin-right:10px;margin-bottom:20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

                                    <img style="display:block;width:270px" src="" alt="" />
                                    <div class="blog-card" style="">                               
                                    <h4  style="padding-left:0.6em; padding-right:10px;margin-top:8px; margin-bottom: 8px;font-size:1rem; width:245px;text-transform:capitalize" id="intro-link"> </h4>
                                     <div style="padding-left:0.7em; padding-right:0.5em;padding-bottom: 10px;font-size:0.8em;width:245px;" id="description" ></div>
                                    </div>                                 

                                </div></a>
                                
                                </template>

                                <hr>

                                {# <div class="tablet-ads">
                        
                                    <!-- START ADVERTISER: Buy Sheds Direct from awin.com -->

                                        <a rel="sponsored" href="https://www.awin1.com/cread.php?s=3036059&v=25446&q=427395&r=1016123">
                                            <img src="https://www.awin1.com/cshow.php?s=3036059&v=25446&q=427395&r=1016123" border="0">
                                        </a>

                                    <!-- END ADVERTISER: Buy Sheds Direct from awin.com --> 

                                    <!-- START ADVERTISER: Thompson & Morgan from awin.com -->

                                        <a rel="sponsored" href="https://www.awin1.com/cread.php?s=2318536&v=2283&q=121696&r=1016123">
                                            <img src="https://www.awin1.com/cshow.php?s=2318536&v=2283&q=121696&r=1016123" border="0">
                                        </a>

                                    <!-- END ADVERTISER: Thompson & Morgan from awin.com -->                         
                                </div>

                                <div class="mobile-ads">
                                    <!-- START ADVERTISER: Thompson & Morgan from awin.com -->

                                    <a rel="sponsored" href="https://www.awin1.com/cread.php?s=2318536&v=2283&q=121696&r=1016123">
                                        <img src="https://www.awin1.com/cshow.php?s=2318536&v=2283&q=121696&r=1016123" border="0">
                                    </a>

                                    <!-- END ADVERTISER: Thompson & Morgan from awin.com --> 
                                </div> #}
                        
                        </div>

                </main>
            </div>

<script>

// a link that wraps the template making the whole div clickable
function linkDiv(slug) {
    return `/contents/${slug}`
}

//the code that makes the breadcrumb
function makeLink(title,slug) {
 return (
     `<a href="/contents/${slug}">${title}</a>`
 )
};

//now obselete, was used to create a link within the template
function makeButton(title,slug) {
 return (
     `<i style="font-size:0.7em;color:#009900;padding-right:1%" class="fas fa-chevron-circle-right"></i> <a href="/contents/${slug}">${title}</a>`
 )
};

//different variables used for arrays to store the links to the different sections
let introPagesArray = JSON.parse(`{{ pagesstoryblok.page | getContentPages("introduction") | dump | safe }}`);
let startPagesArray = JSON.parse(`{{ pagesstoryblok.page | getContentPages("starter") | dump | safe }}`);
let vegPagesArray = JSON.parse(`{{ vegstoryblok.page | getContentPages("vegetable") | dump | safe }}`);
let fruitPagesArray = JSON.parse(`{{ vegstoryblok.page | getContentPages("fruit") | dump | safe }}`);
let herbPagesArray = JSON.parse(`{{ vegstoryblok.page | getContentPages("herb") | dump | safe }}`);
let recipeArray = {{ recipestoryindex | dump | safe }};
let allPagesSorted = [];
let introPages = [];
let starterPages = [];
let vegPages = [];
let fruitPages= [];

//this function sorts all pages ready for the next and previous buttons, and stores this in the allPagesSorted array 
function sortPages() {
    let interimArray = [...introPagesArray,...startPagesArray,...vegPagesArray,...fruitPagesArray,...herbPagesArray,...recipeArray];
    allPagesSorted = interimArray.sort (function (a,b) {
     return a.order - b.order
})
}
sortPages();

console.log(introPages);

//all the content is stored in allPagesSorted, it is then pushed into the respective sections using the category property
function postIntoSections() {
    for ( i = 0 ; i < allPagesSorted.length ; i++ ) {
        if ( allPagesSorted[i].category == "introduction" ) {
            introPages.push(allPagesSorted[i]);
        } else if ( allPagesSorted[i].category == "starter" ) {
            starterPages.push(allPagesSorted[i]);
        } else if ( allPagesSorted[i].category == "vegetable" ) {
            vegPages.push(allPagesSorted[i]);
        } else if ( allPagesSorted[i].category == "fruit" ) {
            fruitPages.push(allPagesSorted[i]);
        }
    }
}
postIntoSections();

//this ultimately calls the makeLink function to create the links, the purpose of this function is to select the right template to post the content to
function initialise(pages, containerid, templateid, divid) {
 let sortedArray = pages.sort (function (a,b) {
     return a.order - b.order;
 })

 const container = document.querySelector(containerid);
 const template = document.querySelector(templateid);

 sortedArray.forEach((article) => {
     const element = template.content.cloneNode(true);
     const image = element.querySelector('img');
     image.src = `${article.image}/m/400x210`;
     image.alt = article.slug;
     element.getElementById(divid).innerHTML = article.title;
     element.getElementById('divlink').href = linkDiv(article.slug);
     element.getElementById('description').innerHTML = article.description;
     container.appendChild(element);
 });
}

initialise(introPages, ".intro-container",'#intro-template',"intro-link");

</script>
