---
permalink: "planning-tools/index.html"
title: Create A Growing Plan | Fruit, Vegetables, Herbs | Allotment Book
description: A collection of resources to make it easy to create a growing plan, including month by month planting and harvesting guides with key reference information
layout: /layouts/pagetemplate.njk
---
        
        <div id="sidebar">
            a new side
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading">
                        <div id="breadcrumb-container">
                            <div id="breadcrumb"><a href="/">Home</a><i class="fas fa-chevron-right"></i></div>
                        </div>
                    </div>

                    <div id="content-body">

                        <h1>Planning Tools</h1>

                                    <div style="display:flex;align-items:center;justify-content:flex-start;border: solid #009900 2px; margin-bottom: 1rem;background:#009900">

                                        <div style="min-width:160px;text-align:center;color:#ffffff;font-size:3rem"><i class="fas fa-seedling"></i></div>
                                        
                                        <div style="background:#ffffff"> 
                                                <h4 style="padding-left:1em;font-size:1.1rem;margin-top: 10px;margin-bottom:5px">Planting Month By Month</h4>
                                                <div style="padding-bottom:10px;padding-left:1rem">
                                                  <a href="/january-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">January</button></a>
                                                  <a href="/february-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">February</button></a>
                                                  <a href="/march-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">March</button></a>
                                                  <a href="/april-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">April</button></a>
                                                  <a href="/may-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">May</button></a>
                                                  <a href="/june-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">June</button></a>
                                                  <a href="/july-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">July</button></a>
                                                  <a href="/august-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">August</button></a>
                                                  <a href="/september-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">September</button></a>
                                                  <a href="/october-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">October</button></a>
                                                  <a href="/november-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">November</button></a>
                                                  <a href="/december-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">December</button></a>
                                                </div>
                                        </div>
                                      </div>

                                      <div style="display:flex;align-items:center;justify-content:flex-start;border: solid #009900 2px; margin-bottom: 1rem;background:#009900">

                                        <div style="min-width:160px;text-align:center;color:#ffffff;font-size:3rem"><i class="fas fa-box-open"></i></div>
                                        
                                        <div style="background:#ffffff"> 
                                                <h4 style="padding-left:1em;font-size:1.1rem;margin-top: 10px;margin-bottom:5px">Harvesting Month By Month</h4>
                                                <div style="padding-bottom:10px;padding-left:1rem">
                                                  <a href="/january-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">January</button></a>
                                                  <a href="/february-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">February</button></a>
                                                  <a href="/march-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">March</button></a>
                                                  <a href="/april-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">April</button></a>
                                                  <a href="/may-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">May</button></a>
                                                  <a href="/june-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">June</button></a>
                                                  <a href="/july-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">July</button></a>
                                                  <a href="/august-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">August</button></a>
                                                  <a href="/september-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">September</button></a>
                                                  <a href="/october-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">October</button></a>
                                                  <a href="/november-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">November</button></a>
                                                  <a href="/december-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">December</button></a>
                                                </div>
                                        </div>
                                      </div>   
                        <h4>Allotment Planner Record Keeper</h4>
                        <h4>Growing For Nutrition</h4>                        

                        
                    </div> 
                </main>
            </div>

