---
permalink: "planning-tools/index.html"
title: Create A Growing Plan | Fruit, Vegetables, Herbs | Allotment Book
description: A collection of resources to make it easy to create a growing plan, including month by month planting and harvesting guides with key reference information
date: Last Modified
layout: /layouts/pagetemplate.njk
---
        
        <div id="sidebar">
            
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading">
                        <div id="breadcrumb-container">
                            <div id="breadcrumb"><a href="/">Home</a><i class="fas fa-chevron-right"></i></div>
                        </div>
                    </div>

                    <div id="content-body">

                        <h1 style="font-size:1.4rem">Planning Tools</h1>

                                    <div style="display:flex;align-items:center;justify-content:flex-start;border: solid #ad0ead 2px; margin-bottom: 1rem;background:#ad0ead">

                                        <div style="min-width:140px;text-align:center;color:#ffffff;font-size:3rem">
                                        <img style="width:96px; height:96px"src="https://firebasestorage.googleapis.com/v0/b/ab-my-garden.appspot.com/o/imgmp%2FmyPlantsAppIcon96x96.png?alt=media&token=412d0640-1ac2-4c74-9431-f46f9200d91d" alt="myPlants.app logo"/>
                                        </div>
                                        
                                        <div style="background:#ffffff"> 
                                                <h4 style="padding-left:1em;padding-right:1em;font-size:1.1rem;margin-top: 10px;margin-bottom:5px">myPlants.app</h4>
                                                <div style="padding-left:1em;padding-right:1em;padding-bottom:10px;padding-left:1remtext-align:justify">
                                                  <p>Helps a gardener stay organised!</p>
                                                  <ul>
                                                    <li>Save plants and add plant notes, upload photos</li>
                                                    <li>Create wish lists and to-do lists</li>
                                                    <li>Browse plant ideas</li>
                                                    <li>Share photos with the community</li>
                                                  </ul>
                                                  <p>Ideal for both ornamental plants and edibles like fruit, vegetables, and herbs.</p>
                                                  <a href="https://myplants.app"><button style="background:#ad0ead;color:#ffffff; border:none;font-size:1.2em;padding: 10px 20px 10px 20px;margin-top:10px;margin-bottom:20px">Get The App!</button></a>
                                                </div>
                                        </div>
                                      </div>

                                    <div style="display:flex;align-items:center;justify-content:flex-start;border: solid #009900 2px; margin-bottom: 1rem;background:#009900">

                                        <div style="min-width:140px;text-align:center;color:#ffffff;font-size:3rem">
                                        <img style="width:38px; height:40px"src="/images/uploads/seedling-white.webp" alt="seedling"/>
                                        </div>
                                        
                                        <div style="background:#ffffff"> 
                                                <h4 style="padding-left:1em;padding-right:1em;font-size:1.1rem;margin-top: 10px;margin-bottom:5px">Planting Month By Month</h4>
                                                <div style="padding-bottom:10px;padding-left:1rem">
                                                  <a href="/january-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">January</button></a>
                                                  <a href="/february-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">February</button></a>
                                                  <a href="/march-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">March</button></a>
                                                  <a href="/april-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">April</button></a>
                                                  <a href="/may-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">May</button></a>
                                                  <a href="/june-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">June</button></a>
                                                  <a href="/july-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">July</button></a>
                                                  <a href="/august-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">August</button></a>
                                                  <a href="/september-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">September</button></a>
                                                  <a href="/october-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">October</button></a>
                                                  <a href="/november-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">November</button></a>
                                                  <a href="/december-planting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">December</button></a>
                                                </div>
                                        </div>
                                      </div>

                                      <div style="display:flex;align-items:center;justify-content:flex-start;border: solid #009900 2px; margin-bottom: 1rem;background:#009900">

                                        <div style="min-width:140px;text-align:center;color:#ffffff;font-size:3rem">
                                        <img style="width:36px; height:40px"src="/images/uploads/store-white.webp" alt="seedling"/>
                                        </div>
                                        
                                        <div style="background:#ffffff"> 
                                                <h4 style="padding-left:1em;padding-right:1em;font-size:1.1rem;margin-top: 10px;margin-bottom:5px">Harvesting Month By Month</h4>
                                                <div style="padding-bottom:10px;padding-left:1rem">
                                                  <a href="/january-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">January</button></a>
                                                  <a href="/february-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">February</button></a>
                                                  <a href="/march-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">March</button></a>
                                                  <a href="/april-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">April</button></a>
                                                  <a href="/may-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">May</button></a>
                                                  <a href="/june-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">June</button></a>
                                                  <a href="/july-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">July</button></a>
                                                  <a href="/august-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">August</button></a>
                                                  <a href="/september-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">September</button></a>
                                                  <a href="/october-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">October</button></a>
                                                  <a href="/november-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">November</button></a>
                                                  <a href="/december-harvesting-guide"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">December</button></a>
                                                </div>
                                        </div>
                                      </div>  

                                      <div style="display:flex;align-items:center;justify-content:flex-start;border: solid #009900 2px; margin-bottom: 1rem;background:#009900">

                                        <div style="min-width:140px;text-align:center;color:#ffffff;font-size:3rem">
                                        <img style="width:40px; height:40px"src="/images/uploads/nutrition-white.webp" alt="seedling"/>
                                        </div>
                                        
                                        <div style="background:#ffffff"> 
                                                <h4 style="padding-left:1em;padding-right:1em;font-size:1.1rem;margin-top: 10px;margin-bottom:5px">Growing For Nutrition</h4>
                                                <div style="padding-bottom:10px;padding-left:1rem">
                                                  <a href="/fruits-vegetables-high-in-vitamin-a"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Vitamin A</button></a>
                                                  <a href="/fruits-vegetables-high-in-vitamin-b1"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Vitamin B1</button></a>
                                                  <a href="/fruits-vegetables-high-in-vitamin-b2"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Vitamin B2</button></a>
                                                  <a href="/fruits-vegetables-high-in-vitamin-b3"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Vitamin B3</button></a>
                                                  <a href="/fruits-vegetables-high-in-vitamin-b5"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Vitamin B5</button></a>
                                                  <a href="/fruits-vegetables-high-in-vitamin-b6"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Vitamin B6</button></a>
                                                  <a href="/fruits-vegetables-high-in-folic-acid-b9"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Folic Acid B9</button></a>
                                                  <a href="/fruits-vegetables-high-in-vitamin-c"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Vitamin C</button></a>
                                                  <a href="/fruits-vegetables-high-in-vitamin-e"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Vitamin E</button></a>
                                                  <a href="/fruits-vegetables-high-in-vitamin-k"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Vitamin K</button></a>
                                                  <a href="/fruits-vegetables-high-in-iron"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Iron</button></a>
                                                  <a href="/fruits-vegetables-high-in-magnesium"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Magnesium</button></a>
                                                  <a href="/fruits-vegetables-high-in-potassium"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">Potassium</button></a>
                                                  <a href="/fruits-vegetables-high-in-zinc"><button style="background:#e0f7d3;color:#009900; border:none;width:90px;margin: 5px 5px 5px 5px">December</button></a>
                                                </div>
                                        </div>
                                      </div>                     
                        
                    </div> 
                </main>
            </div>

