<a class='logout' href='#logout'>Log Out</a>

<h1>Planning Tools</h1>

<ul>
<li><a href='/growing-guides'>Growing Guides</a></li>
</ul>

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

