---
layout: /layouts/pagetemplate.njk
date: Last Modified
permalink: "shop/vegetables/index.html"
title: "Vegetable Varieties | Seeds And Plants | Allotment Book"
description: "Explore vegetable varieties and find seeds and plants to grow at home or on an allotment"
---

     <div id="sidebar">
            
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading">
                        <div id="breadcrumb-container">
                            <div id="breadcrumb"><a href="/shop">Shop</a><i class="fas fa-chevron-right"></i></div>
                        </div>
                    </div>

                    <div style="padding-bottom: 40px" id="content-body">

                        <h1 style="font-size:1.4rem">Vegetable Varieties</h1>

                        <div id="shop-listings-container" style="justify-content: center">
                        
                            {% for cats in varveglp %} 
                            <div style="width:210px;padding-bottom:10px"><a href='/shop/{{ cats | slug }}/all'><i style="font-size:0.7em;color:#009900;padding-right:2%" class="fas fa-chevron-circle-right"></i> {{ cats | title }}</div></a>
                            {% endfor %}

                        </div>

                    </div> 
                </main>

            </div>