---
layout: /layouts/pagetemplate.njk
date: Last Modified
permalink: "shop/fruit/index.html"
title: "Fruit Varieties | Seeds And Plants | Allotment Book"
description: "Explore fruit varieties and find seeds and plants to grow at home or on an allotment"
---

     <div id="sidebar">
            
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading">
                        <div id="breadcrumb-container">
                            <div id="breadcrumb"><a href="/shop">Shop</a><i class="fas fa-chevron-right"></i></div>
                        </div>
                    </div>

                    <div style="padding-bottom: 40px; min-height:100vh" id="content-body">

                        <h1 style="font-size:1.4rem">Fruit Varieties</h1>

                        <div id="shop-listings-container" style="justify-content:center">
                        
                        {% for cats in varfruitlp %} 
                        <div style="width:210px;padding-bottom:10px"><a href='/shop/{{ cats | slug }}/all'>
                        <span style="font-size:10px;color:#009900;padding-right:5px">►</span> {{ cats | title }}</div></a>
                        {% endfor %}

                        </div>

                    </div> 
                </main>

            </div>