---
permalink: "shop/index.html"
title: Seeds, Tools, Gifts, And Equipment | Allotment Book
description: Find seeds, tools, gifts, and equipment for the home gardener or allotment holder
date: Last Modified
layout: /layouts/pagetemplate.njk
---
        
        <div id="sidebar">
           
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading">
                        <div id="breadcrumb-container">
                            <div id="breadcrumb">
                            <a href="/">Home</a><i class="fas fa-chevron-right"></i>
                            <a href="/shop">Shop</a><i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>

                    <div style="min-height:100vh; padding-bottom:40px" id="content-body">

                        <h1 style="font-size:1.4rem">Browse Shop</h1>

                        <div style="min-width: 360px; margin-left:auto; margin-right:auto;padding-bottom: 2rem; display: flex; flex-wrap:wrap" id="list-container">
                        
                        {% for cats in varshopcats.cats %} 

                         <a id="divlink" href="{{cats.link}}">
                                    <div style="width:150px;border: solid #009900 2px; margin-bottom: 1rem; margin-left: 0.8rem;margin-right:0.8rem">

                                        <img style="display:block; width:150px;" src="{{cats.image}}" alt="{{cats.alt}}" />
                                        
                                        <div style="display:flex; align-items: center"> 
                                            <div style="padding-left: 0.5em; padding-top: 7px;padding-bottom:7px"><i style="font-size:0.9em;color:#009900;" class="fas fa-chevron-circle-right"></i></div><div style="padding-left:0.5em; padding-right: 10px;font-size:0.95rem" id="vegrecipes-link">{{ cats.text | title }}</div>
                                        </div>                                   

                                    </div>
                                </a>
                        
                        {% endfor %}                             

                        
                    </div> 
                </main>
            </div>