---
layout: /layouts/pagetemplate.njk
---



     <div id="sidebar">
             a sidebar for a page
        </div>
    
        <div id="main-column">
        
                <main id="main-content">
                    
                    <div id="content-heading">
                        <div id="breadcrumb-container">
                            <div id="breadcrumb">
                            <a href="/photo-gallery">Gallery</a><i class="fas fa-chevron-right"></i>
                            <div id="gallery-name"><a href="/introduction"></a><i class="fas fa-chevron-right"></i></div>
                        </div>
                    </div>

                    <div id="content-body">

                        <article>

                            <h1>{{ pagesstoryblok.page[1].content.title | title }}</h1>                          

                            <p>{{ pagesstoryblok.page[1].content.excerpt }}</p>

                            <img style="width:100%" src="{{ pagesstoryblok.page[1].content.lead_image.filename }}" alt="{{pagesstoryblok.page[1].content.lead_image.alt}}"/>

                            <div id="markedup"></div>
                            
                        </article>

                    </div> 
                </main>

            </div>


<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>



console.log(text)

document.getElementById("markedup").innerHTML = marked.parse(text);

</script>

